set clipboard=unnamed

" xargs on Macs suck
let g:Grep_Xargs_Options='-0'

" Useful settings for large codebases
let g:ctrlp_regexp = 1
let g:ctrlp_max_depth = 40
let g:ctrlp_user_command = ['.git/', 'cd %s && git ls-files']
