set noeb vb t_vb=

nmap <tab> :NERDTreeToggle<CR>
nmap <c-t> :tabnew<CR>:NERDTreeToggle<CR>
map <c-c> :noh<CR>


set clipboard=unnamed

" xargs on Macs suck
let g:Grep_Xargs_Options='-0'

" Useful settings for large codebases
let g:ctrlp_regexp = 1
let g:ctrlp_max_depth = 40
let g:ctrlp_user_command = ['.git/', 'cd %s && git ls-files']
